{% extends "layout.html" %}
{% block title %}Puntos de encuentro{% endblock %}
{% block head %}
  {{ super() }}
  <!-- Leaflet files-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <!-- Css and Js files for Search Box-->
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
  <!-- Custom Files -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/map.css') }}" />
  <script type="module" src="{{ url_for('static',filename='js/map/view.js') }}" ></script>
{% endblock %}
{% block content %}
<article>
    <!-- Título -->
    <h1 class="custom-title">Recorrido {{ route.name }}</h1>
    
    <!-- Campos a mostrar -->
    <div class="container px-4">
      <div class="row gx-4">
        <div class="col">
         <div class="p-3 border bg-light"><b>Nombre:</b> {{route.name}}</div>
        </div>
        <div class="col">
          <div class="p-3 border bg-light"><b>Descripcion:</b> {{route.description}}</div>
         </div>
      </div>
    </div>

    <br>

    <div class="container px-4">
      <div class="row gx-4">
        <div class="col">
         <div class="p-3 border bg-light"><b>Estado:</b> {{ route.status | boolean_converter("Publicado", "No publicado")}}</div>
        </div>
        <div class="col">
          <div class="p-3 border bg-light"><b>Coordenadas:</b> {{route.coordinates}}</div>
          <input id="coordinates" value="{{ route.coordinates }}" hidden>
          <input type="text" name="is_type" id="is_type" value='polyline' hidden/>
        </div>
      </div>
      <br>
      <div class="map-container d-flex justify-content-center">
        <div id="mapid"></div>
      </div>  
    </div>
    <br>
    <div class="container px-4">
      <a href="{{ url_for('route_index') }}" class="btn btn-secondary">Volver atrás</a>
    </div>
       
    
</article>
{% endblock %}