body {
    background: black;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: rgb(121, 9, 9);
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
    min-height: 400px;
  }
  
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  #nav {
    padding: 30px;
  }
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }